h1 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 2.5rem;
  color: #163172;
}

h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2rem;
  color: #000;
}

h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.5rem;
  color: #000;
}

h6{
  color: #163172;
}

p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.25rem;
}

body {
  background-color: #f6f6f6;
}

.container-fluid {
  padding: 2% 8%;
  margin-top: 0;
  margin-bottom: 0;
}

/* Nav Bar */
.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 1.75rem;
  color: #163172;
}

.nav-item {
  padding: 0 0;
}

.nav-link {
  color: #163172;
}

.fa-bars {
  color: #163172;
}

/* Title */
.cta {
  padding-top: 4%;
}

.cta-text {
  padding-top: 4%;
  padding-right: 10%;
}

.cta-img {
  width: 80%;
}

.cta-details {
  padding: 4% 40% 2% 0%;
  color: #000;
  position: relative;
}

/* Title - Link Options */
.option-bar {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.option-1 {
  padding: 1% 0;
  background-color: #163172;
}

.option-2 {
  padding: 1% 0;
  background-color: #163172;
  opacity: 0.85;
}

.option-3 {
  padding: 1% 0;
  background-color: #163172;
  opacity: 0.7;
}

.option-content {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 1.25rem;
  color: #fff;
  padding: 5% 5%
}

/* About Us */
.mission-header {
  paddin-top: 3rem;
}

.mission-statement {
  font-size: 1rem;
}

/* Coming Soon */
.app-diagram {
  text-align: left;
  padding-top: 2%
}

/* Contact Us */
.contact-us {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.25rem;
  color: #000;
}

.message-button {
  border: none;
  color: #fff;
  font-weight: 800;
  background-color: #163172;
  padding: 2%;
  border-radius: 1rem;
}

textarea {
  width: 60%;
  height: 10%;
}

.features {
  text-align: center;
  padding-top: 1rem;
}

.feature-row {
  display: block;
  text-align: left;
}

/* Learn */
.learn-title {
  padding-top: 4%;
}

.detail-section{
  text-align: center;
}
.bike-img{
  width: 80%;
  height: auto;
  border: 1px solid #000;
  border-radius: 10px;
  opacity: 0.9;
}

/* Protection */
.protect-title {
  padding-top: 4%;
}
.card-header{
  background-color: #d6e4f0;
}

/* Incentives */
.incentives-title {
  padding-top: 4%;
}
.res-btn{
  background-color: #163172;
  color: #fff;
  font-family: "Montserrat";
}

.res-btn:hover{
  color: #fff;
  text-decoration:underline;
}

.com-btn{
  background-color: #d6e4f0;
  color: #000;
  font-family: "Montserrat";
}
.com-btn:hover{
  color: #000;
  text-decoration:underline
