h1 {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 2.5rem;
  color: #163172;
}

h2 {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 2rem;
  color: #1c1b1b;
}

h3 {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 1.5rem;
  color: #1c1b1b;
}

h6 {
  color: #163172;
}

p {
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-size: 1.25rem;
}

body {
  background-color: #f6f6f6;
  padding-top: 3rem;
}

hr {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

a:hover {
  color: inherit;
  text-decoration: none; /* no underline */
  transition: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container-fluid {
  padding: 2% 8%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Nav Bar */
.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 1.75rem;
  color: #163172;
}

.navbar-nav {
  transition: all 0.8s ease;
}

.nav-item {
  padding: 0 0;
}

.nav-link {
  color: #163172;
}

.fa-bars {
  color: #163172;
}

/* Title */
.cta {
  padding-top: 4%;
}

.cta-text {
  padding-top: 4%;
  padding-right: 10%;
}

.cta-img {
  width: 80%;
}

.cta-details {
  padding: 4% 40% 2% 0%;
  color: #000;
  position: relative;
}

/* Title - Link Options */
.option-bar {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 1;
  border-radius: 1.1rem;
}

.option-1 {
  padding: 1% 0;
  background-color: #163172;
  transition: background-color 0.1s ease;
  border-radius: 1.1rem 0 0 1.1rem;
}
.option-1:hover {
  background-color: #0e1f47;
}

.option-2 {
  padding: 1% 0;
  background-color: #163172;
  transition: background-color 0.1s ease;
  opacity: 0.85;
}
.option-2:hover {
  background-color: #0e1f47;
  opacity: 0.85;
}

.option-3 {
  padding: 1% 0;
  background-color: #163172;
  transition: background-color 0.1s ease;
  opacity: 0.7;
  border-radius: 0 1.1rem 1.1rem 0;
}

.shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 1.1rem 1.1rem 1.1rem 1.1rem;
}

.option-3:hover {
  background-color: #0e1f47;
  opacity: 0.7;
}

.option-content {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 1.25rem;
  color: #fff;
  padding: 5% 5%;
}

.option-content:hover {
  color: #fff;
}

/* About Us */
.mission-header {
  padding-top: 3rem;
}

/* Coming Soon */
.app-diagram {
  text-align: left;
  padding-top: 2%;
}

/* Contact Us */
.contact-us {
  font-family: "Source Sans Pro";
  font-weight: 500;
  font-size: 1.25rem;
  color: #1c1b1b;
}

.message-button {
  border: none;
  color: #fff;
  font-weight: 800;
  background-color: #163172;
  padding: 2%;
  border-radius: 1rem;
}

textarea {
  width: 60%;
  height: 10%;
}

.features {
  text-align: center;
  padding-top: 1rem;
}

.feature-row {
  display: block;
  text-align: left;
}

/* Learn */
.learn-title {
  padding-top: 4%;
}

.detail-section {
  text-align: center;
}
.bike-img {
  width: 80%;
  height: auto;
  border: 1px solid #000;
  border-radius: 10px;
  opacity: 0.9;
}

/* Protection */
.protect-title {
  padding-top: 4%;
}
.card-header {
  background-color: #d6e4f0;
}

/* Incentives */
.incentives-title {
  padding-top: 4%;
}
.res-btn {
  background-color: #163172;
  color: #fff;
  font-family: "Source Sans Pro";
}

.res-btn:hover {
  color: #fff;
  text-decoration: underline;
}

.com-btn {
  background-color: #d6e4f0;
  color: #1c1b1b;
  font-family: "Source Sans Pro";
}
.com-btn:hover {
  color: #1c1b1b;
  text-decoration: underline;
}

.row {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.row-options {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menu-link:after {
  display: block;
  content: "";
  border-bottom: solid 3.3px #163172;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.menu-link:hover:after {
  color: #0e1f47;
  transform: scaleX(1);
}
.menu-link.fromRight:after {
  transform-origin: 100% 50%;
}

.footer {
  margin-top: 5rem;
  background-color: #163172;
  color: #fff;
}
.footer p {
  margin-bottom: 0;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.footer-text {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
}

/* #about-us {
  margin-top: 4rem;
  margin-bottom: 4rem;
} */
