h1 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 2.5rem;
  color: #163172;
}

p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.25rem;
}

.container-fluid {
  padding: 2% 8%;
  background-color: #f6f6f6;
}

/* Nav Bar */
.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 1.5rem;
  color: #163172;
}

.nav-item {
  padding: 0 0.5rem;
}

.nav-link {
  color: #163172;
}

.fa-bars {
  color: #163172;
}

/* Title */
.cta {
  padding: 4% 0;
}

.cta-text {
  padding-top: 2%;
  padding-right: 10%;
}

.cta-img {
  width: 80%;
}

.cta-details {
  padding-right: 30%;
  color: #000;
}

/* Title - Link Options */
.option-bar {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  text-align: center;
}

.option-1 {
  padding: 0;
  background-color: #163172;
}

.option-2 {
  padding: 0;
  background-color: #163172;
  opacity: 0.85;
}

.option-3 {
  padding: 0;
  background-color: #163172;
  opacity: 0.7
}

.option-content {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 1.25rem;
  color: #fff;
  padding: 5% 5%
}

/* Contact Us */
.contact-us{
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.25rem;
  color: #000;
}

.message-button{
  border:none;
  color: #fff;
  font-weight: 800;
  background-color: #163172;
  padding: 1%;
  border-radius: 2rem;
}
